body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f4f4;
  font-family:Arial;
}
.calc{
  width:260px;
  background:#fff;
  padding:15px;
  border-radius:8px;
}
#screen{
  width:100%;
  height:50px;
  font-size:22px;
  text-align:right;
  margin-bottom:10px;
  padding-right:8px;
}
.keys{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:8px;
}
button{
  height:45px;
  font-size:16px;
  cursor:pointer;
}
.equal{
  grid-column:span 4;
  background:#222;
  color:#fff;
}
